<%- include("partials/header.ejs") %>

<img src="\pics\bg.jpg" alt="make beauty front page" class="bg">
<div  id="go" class="container">
<!-- here we used a form to accept user request -->
<form method="post" action="/get-makeup" >
  <div class="row py-4">
    <div class="col-md-5">
      <select class="form-select" name="product_type" aria-label="Default select example" >
          <option >Enter Product Type</option>
          <option  name="product_type" value="Blush">Blush</option> 
          <option  name="product_type" value="Bronzer">Bronzer</option>
          <option  name="product_type" value="Eyebrow">Eyebrow</option>
          <option  name="product_type" value="Eyeliner">Eyeliner</option>
          <option  name="product_type" value="Eyeshadow">Eyeshadow</option>
          <option  name="product_type" value="Foundation">Foundation</option>
          <option  name="product_type" value="Lip liner">Lip liner</option>
          <option  name="product_type" value="Lipstick">Lipstick</option>
          <option  name="product_type" value="Mascara">Mascara</option>
          <option  name="product_type" value="Nail polish">Nail polish</option>
      </select>
    </div>
    <div class="col-md-5">
      <select class="form-select" name="brand" aria-label="Default select example">
          <option >Enter Brand Name</option>
          <option value="almay">almay</option>
          <option value="alva">alva</option>
          <option value="anna sui">anna sui</option>
          <option value="annabelle">annabelle</option>
          <option value="benefit">benefit</option>
          <option value="boosh">boosh</option>
          <option value="burt's bees">burt's bees</option>
          <option value="butter london">butter london</option>
          <option value="c'est moi">c'est moi</option>
          <option value="cargo cosmetics">cargo cosmetics</option>
          <option value="china glaze">china glaze</option>
          <option value="clinique">clinique</option>
          <option value="coastal classic creation">coastal classic creation</option>
          <option value="colourpop">colourpop</option>
          <option value="covergirl">covergirl</option>
          <option value="dalish">dalish</option>
          <option value="deciem">deciem</option>
          <option value="dior">dior</option>
          <option value="dr. hauschka">dr. hauschka</option>
          <option value="e.l.f.">e.l.f.</option>
          <option value="essie">essie</option>
          <option value="fenty">fenty</option>
          <option value="glossier">glossier</option>
          <option value="green people">green people</option>
          <option value="iman">iman</option>
          <option value="l'oreal">l'oreal</option>
          <option value="lotus cosmetics usa">lotus cosmetics usa</option>
          <option value="maia's mineral galaxy">maia's mineral galaxy</option>
          <option value="marcelle">marcelle</option>
          <option value="marienatie">marienatie</option>
          <option value="maybelline">maybelline</option>
          <option value="milani">milani</option>
          <option value="mineral fusion">mineral fusion</option>
          <option value="misa">misa</option>
          <option value="mistura">mistura</option>
          <option value="moov">moov</option>
          <option value="nudus">nudus</option>
          <option value="nyx">nyx</option>
          <option value="orly">orly</option>
          <option value="pacifica">pacifica</option>
          <option value="penny lane organics">penny lane organics</option>
          <option value="physicians formula">physicians formula</option>
          <option value="piggy paint">piggy paint</option>
          <option value="pure anada">pure anada</option>
          <option value="rejuva minerals">rejuva minerals</option>
          <option value="revlon">revlon</option>
          <option value="sally b's skin yummies">sally b's skin yummies</option>
          <option value="salon perfect">salon perfect</option>
          <option value="sante">sante</option>
          <option value="sinful colours">sinful colours</option>
          <option value="smashbox">smashbox</option>
          <option value="stila">stila</option>
          <option value="suncoat">suncoat</option>
          <option value="w3llpeople">w3llpeople</option>
          <option value="wet n wild">wet n wild</option>
          <option value="zorah">zorah</option>
          <option value="zorah biocosmetiques">zorah biocosmetiques</option>
      </select>
    </div> 
    <div class="col-md-2">
      <input  class="bt" type="submit" value="Search" >
    </div>
  </div>
</form>
<!-- here is a display that appears at the first visit before a user makes any request -->
 
<div id="myCarousel" class="carousel slide" data-bs-ride="pause">
  <% if (!locals.content) {%>
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" aria-label="Slide 1" class="active" aria-current="true"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="" ></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button> 
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-label="Slide 4" class=""></button> 
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-label="Slide 5" class=""></button> 
    </div>
    <div class="carousel-inner">
      <div class="carousel-item">
        <img src="\pics\lipstick.jpg" class="d-block w-100" alt="...">
        <div class="container">
          <div class="carousel-caption text-center ">
            <h1>IMAN</h1>
            <p>Luxury Moisturizing Lipstick IMAN Nude</p>
            <p></p>
            <p><a class="btn btn-lg btn-primary" href="http://imancosmetics.com/shop/products/lips/lipstick/iman-nude">product_link</a></p>
            <p class="display">13oz (3.7g) Luscious creamy, semi-matte lip color for full coverage and a long-lasting smooth finish. Made in China.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <img src="\pics\nail_polish.jpg" class="d-block w-100" alt="...">
        <div class="container su">
          <div class="carousel-caption text-center ">
            <h1>SINFUL COLOURS</h1>
            <p>Sinful Colours Nail Polish</p>
            <p>$2.99</p>
            <p><a class="btn btn-lg btn-primary" href="https://well.ca/products/sinful-colours-nail-polish_92340.html">product_link</a></p>
            <p class="display">At a low price, Sinful Colors makes putting the glitz on your nails a steal, not a splurge. Nails with bling are an easy and quick way to create your own look: the fabulous value Sinful Colors offers (plus their huge variety of shades!) allows you to easily change your color to match your mood or look any time, any day. With vivid shades that pop, wow, flatter and inspire. In cream, glitter, shimmer and matte, and in formulas you want that provide full color coverage. All made in the USA, with the quality you expect from a leading nail brand, without formaldehyde, toluene and DBP.</p> 
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <img src="\pics\blush.jpg" class="d-block w-100" alt="...">
        <div class="container su">
          <div class="carousel-caption text-center ">
            <h1>l'oreal</h1>
            <p>Brush</p>
            <p>$16.49</p>
            <p><a class="btn btn-lg btn-primary" href="https://well.ca/products/loreal-paris-true-match_4395.html">product_link</a></p>
            <p class="display">True Match Blush flawlessly complements your skin's texture and tone and coordinates perfectly with True Match Makeup, Powder, and Concealer.Opti-Match technology creates uniquely true-to-life shades that flawlessly complement your skintone and undertone to perfection, leaving you with the most natural flush of colour imaginable.A unique Opti-BlendTM formula provides a skin-true texture that blends smoothly, never looks chalky or cakey.  Stays fresh and natural looking hour after hour.Oil-free, vitamin-rich, and non-comedogenic.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item ">
        <img src="\pics\bronzer.jpg" class="d-block w-100" alt="...">
        <div class="container ">
          <div class="carousel-caption text-center ">
            <h1>covergirl</h1>
            <p>CoverGirl truBLEND Bronzer</p>
            <p>$13.99</p>
            <p><a class="btn btn-lg btn-primary" href="https://well.ca/products/covergirl-trublend-bronzer_112764.html">product_link</a></p>
            <p class="display">CoverGirl's New truBLEND Bronzer has a marble-baked formula that blends instantly with skin making bronzer lines a thing of the past.Features:Baked blend of colors for the perfect glowBaked to get the perfect bronze for every skin toneBlends instantly, no bronzer linesitable for sensitive skin How to Apply: Step 1: Lightly dip brush into bronzer, being careful to tap or blow off excess powder. Step 2: Next, sweep the bronzer over cheeks and temples to create a warm, even, sun-kissed glow.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item  active ">
        <img src="\pics\eyeliner.jpg" class="d-block w-100" alt="...">
        <div class="container ">
          <div class="carousel-caption text-center ">
            <h1>zorah biocosmetiques</h1>
            <p>Liquid Liner</p>
            <p>price</p>
            <p><a class="btn btn-lg btn-primary" href="https://www.purpicks.com/product/zorah-biocosmetiques-liquid-liner/">product_link</a></p>
          <p class="display"><strong>12 hours of long-lasting</strong> intense color, transfer-free (leaves no trace on crease above the eyelid) <strong>Pure Light Capture®</strong> <strong>minerals</strong> deliver color and radiance. Silky lines and refreshingly light, Pure Argan eyeliner leaves a weightless feel on the eyelids. align='LEFT'>Natural cosmetic certified by Ecocert Greenlife according to Ecocert Standard.98% of the total ingredients are from natural origin 5% of total ingredients are from organic farming</p>  
          </div>
        </div>
      </div>

    </div> 
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  <% }  %>
<!-- when the user makes a request we send a request by parameter to the API -->
  <% if (locals.content) {%> 
    <% let data = JSON.parse(content); %>
    <!-- if the response we get is null we display a message -->
    <% if (data.length == 0) { %>
      <div class="text-body-secondary bt">
        <h1>there is no product in this particular type and brand. try another one. </h1>
      </div>
    <%} else if (data.length >= 1) {%>
          <!-- when the response isn't null we display the parsed response  -->
        <div class="carousel-inner">
              <% for (let index = 0; index < data.length;  index++) {%>      
                <div <% if (index == 0) { %> class="carousel-item active " <%  } else { %> class="carousel-item "  <%  } %>  >
                  <img src="\pics\<%=data[index].product_type%>.jpg" class="d-block w-100" alt="...">
                    <div class="container ">
                      <div class="carousel-caption text-center ">
                        <h1><%= data[index].brand %></h1>
                        <p><%=data[index].name%></p>
                        <p><%= data[index].price %>$</p>
                        <p><a class="btn btn-outline-secondary " href="<%= data[index].product_link %>">product_link</a></p>
                        <% let descr =  data[index].description.substring(0, 1650);   %>
                        <p class="display"><%= descr %></p>
                      </div>
                    </div>
                </div>
                 <% }   %>           
        </div>
          <!-- the next and previous icons -->
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
    <%} %>
  <%} %>
</div>
<!-- </div> -->
<%- include("partials/footer.ejs") %>
